
body {
  font-family: 'Open sans', sans serif;
  box-sizing: border-box;
  height: 100%;
}

.main {
  display: inline;
  position: absolute;
  width: 83%;
}

button:hover {
  cursor: pointer;
}

/*----------Nav Bar----------*/
nav {
  background-color: #374050;
  display: inline-block;
  width: 17%;
  height: 100vh;
}

.nav-image {
  vertical-align: middle;
}

.arrow {
  height: .8rem;
  width: .8rem;
}

.profile-picture,
.main-nav,
.admin-nav {
  background-color: #374050;
  border-bottom: solid 2px #2b3240;
}

.categories-nav {
  background-color: #374050;
  border-bottom: solid 2px #2b3240;
  height: 700px;
}

.profile-picture {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #a2acbd;
  margin-bottom: 0;
}

h3 {
  color: #67738b;
}

.nav-bar {
  font-size: 1rem;
  margin-left: 6%;
}

ul  {
  list-style: none;
  padding-left: 5px;
}

li {
  font-size: .9rem;
  margin: .4rem;
  padding: .4rem 0;
  width: 100%;
}

li:hover {
  background-color: #2b3240;
  border-left:  solid 2px #49a3f3;
  cursor: pointer;
}

.profile-image {
  border-radius: 50%;
  height: 8rem;
  margin: 20px 0 5px 0;
  width: 8rem;
}

.main-link,
.admin-link,
.categories-link {
  color: #a2acbd;
  margin: 7px 20px; 
  text-decoration: none;
}

.checkBox {
  margin: 0;
  width: 10%;
  height: 10%;
  vertical-align: middle;
}
 
 /*-----------Search Section-----------*/
.search-button {
  background-color: #fff;
  border-bottom: 2px #9ca3ae;
  height: 4rem;
  padding: 0;
  width: 5rem;
}

.search-button:hover {
  background-color: #49a3f3;
}

.hamburger {
  background: url('images/link.svg') no-repeat;
  background-position: center;
  background-size: 38%;
}

.add-user {
  background: url('images/icon-adduser.svg') no-repeat;
  background-position: center;
}

.calendar {
  background: url('images/calendar.svg') no-repeat;
  background-position: center;
}

.grid {
  background: url('images/grid.svg') no-repeat;
  background-position: center;
}

.grid:hover {
  background: url('images/grid-hover.svg') no-repeat;
  background-color: #49a3f3;
  background-position: center;
}

input {
  border: none;
  box-sizing: border-box;
  height: 4rem;
  margin: 0;
  padding: 0;
  width: 98%;
  text-overflow: ellipsis;
}

input::placeholder {
  color: #808ba5;
  padding-left: 2%;
}

.search {
  border-bottom: solid 1px #dbe4ea;
  display: flex;
  height: 4rem;
  width: 100%;
}

/*----------Job Posting Section----------*/
.job-post {
  width: 100%;
}

.job-description {
  display:flex;
  justify-content: space-between;
  padding-bottom: 5%;
  margin-left: 3%;
}

.job-description-buttons {
  padding-top: 4%;
  display: flex;
}

.job-description-links {
  padding-bottom: 2%;
  padding-left: 2%;
}

h1 {
  color: #4e515d;
  margin: 0;
  padding: 2rem 0 .25rem 0;
}

h4 {
  color: #4e515d;
  display: inline;
  padding: 1rem 0 2rem 0;
  margin-bottom: 4rem;
}

.preview {
  cursor: pointer;
}

.preview:hover {
  color: #49a3f3;
}

.nav-links {
  color: #9ca3ae;
  text-decoration: none;
  margin: 1.5%;
}

.hidden-nav-link {
  display: none;
}

.nav-links:hover {
  color: #374050;
  border-bottom:  solid 3px #49a3f3;
  padding-bottom: 1.25%;
}

.circle { border-radius: 50%;
  border: solid 2px #dbe4ea;
  height: 2.5rem;
  margin: 1rem 1rem .5rem 0;
  width: 2.5rem; 
}

.open-button {
  border-radius: 25px;
  border: solid 2px #dbe4ea;
  color: #4e515d;
  margin: 1rem 1rem .5rem 0;
  padding: .7rem;
}

.open-dot {
  padding-right: .3rem;
  vertical-align: middle;
}

.bookmark {
  background: url('images/bookmark.svg') no-repeat;
  background-color: #ffffff;
  background-position: center;
}

.pencil {
  background: url('images/pencil.svg') no-repeat;
  background-color: #ffffff;
  background-position: center;
}

.trash {
background: url('images/trashcan.svg') no-repeat;
background-color: #ffffff;
background-position: center;
}

/*----------Graph Section----------*/

.graph-portion {
  background-color: #eef2f6;
  border-top: solid 2px #dbe4ea;
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.just-circle-graphs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bar-graph-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.chart-text {
  fill: #000;
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
}

.chart-label {
  font-size: 0.2em;
  text-anchor: middle;
  transform: translateY(0.7em);
}

.circle-graph {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bar-graph {
  width: 68%;
}

.graph-button {
  background-color: #fff;
  border-radius: 25px;
  border: solid 2px #dbe4ea;
  color: #9ca3ae;
  cursor: pointer;
  padding: 1% 2%;
  width: fit-content;
  align-self: center;
}

.page-break {
  align-items: center;
  background-color: #eef2f6;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.circle-mid-page {
  border-radius: 50%;
  border: solid .1rem #dbe4ea;
  height: 2.5rem;
  width: 2.5rem;
}

hr{
  background-color: #dbe4ea;
  border: none;
  height: 2px;
  width: 45%;
}

/*----------Table----------*/

.table {
  width: 70%;
  display: flex;
  justify-content: center;
}

table {
  background-color: #fff;
  border: 1px #fff;
  border-collapse: collapse;
  border-bottom: 1px;
  color: #4e515d;
  width: 95%;
}

.header-button {
  background-color: #808ba5;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 2.5%;
  width: 6rem;
}

.label {
  width: 30%;
}

.header-button:hover {
  background-color: #727e93;
}

.white-pencil {
  padding: 0 3%;
}

.header {
  background-color: #727e93;
  color: #fff;
  font-size: 1rem;
  padding: 2% 1%;
}

td {
  font-size: .9rem;
  padding: 4% 1.5%;
}

.lower-portion {
  background-color: #eef2f6;
  display: flex;
  padding: 1%;
}

.hiring-manager-pic {
  border-radius: 50%;
  width: 15%;
  margin: 0 1%;
  vertical-align: middle;
}

/*---------Social Media----------*/

.social-media {
  width: 30%;
}

.share {
  border-bottom: solid 2px #dbe4ea;
  margin-right: 1%;
  width: 99%;
}

.link-input {
  border: none;
  height: 3.5rem;
  margin-bottom: 7%;
  width: 75%;
}

.link-button {
  background-color: #67b7bd;
  border: none;
  color: #fff;
  height: 3.5rem;
  margin-left: 0;
  margin-right: 0.25%;
  padding: 2% 3%;
}

.email-input {
  border: none;
  width: 95%;
}

.social-button {
  color: #fff;
  display: block;
  height: 3.5rem;
  margin: 3%;
  width: 95%;
}

.social-button-text {
  color: #fff;
  font-size: .85rem;
  margin-left: -5%;
}


.social-image {
  height: 1.2rem;
  padding-right: 1%;
  width: 7%;
  vertical-align: middle;
}

.facebook {
  background-color: #5372bd;
}

.twitter {
  background-color: #47a6e9;
}

.linkedin {
  background-color: #357eb6;
}

p,
.social {
color: #808b85;
margin-left: 3%;
margin-right: 3%;
}

/*Media Queries*/


@media screen and (max-width: 1007px) {

  .nav-links {
    font-size: .85rem;
  }

  .header-button {
    font-size: .75rem;
  }

  nav {
    display: none;
  }

  .main {
    width: 100%;
  }

}

@media screen and (max-width: 830px) {
  .job-description,
  .lower-portion {
    flex-direction: column;
  }

  .job-description-buttons {
    padding-top: 1%;
  }

  .table,
  .social-media {
    width: 100%;
  }

  .link-input {
    margin-left: 3%;
    width:81%;
  }

  .email-input {
    margin-left: 3%;
    width: 95%;
  }

  .graph-portion {
    flex-direction: column;
  }

  .graph-button {
    margin-bottom: 3%;
  }

  .nav-links:hover {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .nav-links {
    font-size: .75rem;
  }
}

@media screen and (max-width: 635px) {
  .nav-links {
    display: none;
  }

  .hidden-nav-link {
  display: unset;
  font-size: 1rem;
  }

  .header {
    font-size: .75rem;
  }
}

@media screen and (max-width: 475px) {
  .link-input {
    width: 71%;
  }

}

